.skill_main{
    display: flex;
    justify-content: flex-start;
}
.bar{
    background-color: white;
    width: 30rem;
    margin-bottom: 50px;
    border-radius: 20px;
}
.progress{
    background: linear-gradient(135deg, rgb(79, 79, 246), rgb(111, 236, 111), rgb(226, 151, 151), rgb(3, 3, 3));
    animation: fillBars 1s;
}
.skill_data h5{
    margin-bottom: -10px;
    color: aliceblue;
}
.percent{
    animation: fillBars 1s;
    font-weight: bold;
    display: flex;
    justify-content: end;
    color: aliceblue;
}
.skill_main span{
    color: aqua;
    font-size: xx-large;
}
@keyframes fillBars {
    from{
        width: 0px;
    }to{
        max-width: 90%;
    }
}
@media screen and (max-width: 600px) {
    .bar{
        width: 15rem;
    }
}