.skill_main{
    display: flex;
    justify-content: flex-start;
}
.bar{
    background-color: rgb(42, 58, 58);
    width: 30rem;
    height: 10px;
    border-radius: 10px;
    margin-bottom: 30px;
}
.progress{
    height: 10px;
    border-radius: 10px;
    background: linear-gradient(135deg, rgb(79, 79, 246), rgb(111, 236, 111), rgb(226, 151, 151), yellow);
    animation: fillBars 1s;
}
.percent{
    animation: fillBars 1s;
    border-radius: 5px;
    font-weight: bold;
    display: flex;
    justify-content: end;
}
.skill_main span{
    color: rgb(228, 12, 12);
}
@keyframes fillBars {
    from{
        width: 0px;
    }to{
        max-width: 90%;
    }
}