.heading{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color: aliceblue;
}

.active{
    color: aqua;
}
.head{
    color: aqua;
    display: flex;
    justify-content: center;
}
.heading h5{
    cursor: pointer;
}