.home_main img{
    width: 100%;
    height: 35rem;
    position: relative;
}
.left {
    position: absolute;
    top: 10rem;
    left: 5rem;
    color: antiquewhite;
}
.left span{
    color: aqua;
}
.bttn{
    position: absolute;
    top: 20rem;
    left: 5rem;
}
.butn1{
    color: aqua;
}
.butn2{
    color: aqua;
    margin-left: 1rem;
}
.avtar_img img{
    position: absolute;
    width: 50%;
    height: 70%;
    top: 5rem;
    right: 5rem;
}
.bttn button{
    font-size: larger;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    font-weight: bold;
    padding: 5px;
}