.footer_main{
    background-color: rgb(19, 18, 18);
    color: aqua;
  }
  .footer_main p{
    color: #ece4e4;
    font-weight: bold;
  }
  .footer_mid{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .footer_logo{
    color: aqua;
  }